<app-not-found [visible]="!book" 
notFoundMessage="That books doesn't exist" 
resetLinkText="Go to homepage"></app-not-found>
<div *ngIf="book" class="container">
    <img src="{{book.imageUrl}}" alt="{{book.title}}">
    <div class="details">
        <div class="header">
            <span class="title">
                {{book.title}}
            </span>
            <span class="favorite {{book.favorite?'': 'not'}}">
                ❤
            </span>
        </div>
        <div class="author">{{book.author}}</div>
        <div class="stars">★ {{book.stars}}</div>
        <div class="tags">
            <app-tags [bookPageTags]="book.tags"></app-tags>
        </div>
        <div class="price">{{book.price | currency}}</div>
        <button class="button" (click)="addToCart()">Add to cart</button>
    </div>
</div>