<app-search></app-search>
<app-tags></app-tags>
<app-not-found [visible]="!books" 
notFoundMessage="Book not found" 
resetLinkText="Reset search"></app-not-found>
<ul>
    <li *ngFor="let book of books | async">
        <a routerLink="/book/{{book.urlId}}">
            <img src="{{book.imageUrl}}">
            <div class="content">
                <div class="title">{{book.title}}</div>
                <div class="author">{{book.author}}</div>
                <span class="favorite {{book.favorite?'': 'not'}}">
                    ❤
                </span>
                <div class="stars">★ {{book.stars}}</div>
                <div class="price">{{book.price | currency}}</div>
            </div>
        </a>
    </li>
</ul>